* {
    padding: 0px;
    margin: 0;
    font-family: noto sans;
    background: #7a71ff;
}
a{
    text-decoration: none!important;
}
i {
    margin-left: 10px;
    font-size: 60px;
    color: #d1f776;
}

.container {
    margin-left: 260px!important;
    margin-right: 220px!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

.container h2 {
    text-align: center;
    color: #d1f776;
    font-size: 100px;
    text-shadow: -5px 5px 0px #d1f776, -10px 10px 0px white, -15px 15px 0px #d1f776;
    padding-bottom: 100px;
}

.container p {
    color: #d1f776;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 50px;
}
#zad18, #zad23{
    font-size: 40px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}
#zad21{
    font-size: 20px;
    padding: 20px;
    text-align: justify!important;

}
#zad22 {
    font-size: 25px;
    font-weight: bold;
    text-align: justify!important;
}
#zad20 p{
    font-size: 40px;
    font-weight: bold;
}

.content {
    display: flex;
    flex-flow: row;
}
#content18{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-flow: column;
    font-size: 50px;
    color: #d1f776;
}
#content21{
    justify-content: center;
    color: #d1f776;
    font-size: 24px;
    border: white dashed 3px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 50px;
}
#content23{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    color: #7a71fd;
    text-shadow: 2px 2px 0 #d1f776, 2px -2px 0 #d1f776,
        -2px 2px 0 #d1f776, -2px -2px 0 #d1f776, 2px 0px 0 #d1f776,
        0px 2px 0 #d1f776, -2px 0px 0 #d1f776, 0px -2px 0 #d1f776;
    padding: 0;
}
#content23 h1{
    margin: 0;
    padding: 0;
}
#content20{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-flow: row;
    font-size: 50px;
    color: #d1f776;
}


#content22{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-flow: row;
    font-size: 50px;
    color: #d1f776;
}
#content20 input{
    margin-bottom: 30px;
    color: white;
}
.content input, #content20 input, .form input{
    text-align: center;
    background: #dcf79d;
    color: #7a71ff;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    border: 15px outset #d1f776;
}

.frame p{
    width: 30%
}
.submitButton{
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-flow: row;
    padding-top: 4%;
}
#numb{
    width: 100px;
}

.result
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 5%;
    font-size: 40px;
}
.star{
    width: 35px;
    height: 35px;
    text-align: center;

    color: #d1f776;
}
#frame{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 30px;
}
.col {
    display: block;
}
